*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body{
    text-align: center;
    font-family: sans-serif;
    font-family: "Poppins", sans-serif;
    font-size: 0.938rem;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo{
    margin-left: 30px;
}

.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover{
    background: #3f3f3f;
}

.hamburger {
    display: none;
    background: none;
    padding-right: 25px;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/header.png) no-repeat center;
    height: 70vh !important;
    background-size: cover;
    background-position: center 30px;
}

.header::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 2;
}

.title-2{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
    position: relative;
    z-index: 2;
}

.text{
    margin-bottom: 40px;
    font-size: 18px;
    color: #000;
    padding: 0 100px;
    position: relative;
    z-index: 2;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #be9335;
    color: #fff;
    text-decoration: none;
    background: #be9335;
    position: relative;
    z-index: 2;
}

.btn:hover{
    background: none;
    position: relative;
    z-index: 2;
}

.btn-home{
    display: flex;
}

.btn-home a{
    margin: 0 10px;
}

.content{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 30px;
    background: #171717;
}
.mas{
    padding: 30px;
    background: #171717;
}
.mas-2{
    padding: 30px;
    background: #171717;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: auto;
    width: 17rem;
    background: #2c2c2c;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}
.box-container-2 .box{
    height: auto;
    width: 17rem;
    background: #2c2c2c;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    padding: 3px 0 0 0;
}

.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #be9335;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3{
    font-size: 20px;
    color: #be9335;
}
.box-container-2 .box h3{
    font-size: 20px;
    color: #be9335;
}

.box-container .box p{
    padding: 0 15px;
    font-size: 16px;
}
.box-container-2 .box p{
    padding: 0 15px;
    font-size: 16px;
}

.about{
    background: #1f1d1d;
}

.coffee{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.coffee-content{
    text-align: center;
}

.coffee-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    display: grid;
}


.coffee-1 h3{
    color: #be9335;
    font-size: 20px;
    margin-bottom: 15px;
}

.contact{
    padding-top: 20px;
    background: #1f1d1d;
    padding-bottom: 0;
}

.footer {
    background-color: #1f1d1d;
    width: 100%;
}

.footer .footer-box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-box .social-media a {
    color: white;
    background-color: #333333;
    border-radius: 50%;
    font-size: 17px;
    padding: 10px 12px;
    margin: 5px;
}

.footer .footer-box .social-media a:hover {
    opacity: .7;
    transition: .5s all ease-in-out;
}

.footer .footer-box .copyright {
    color: rgb(71, 71, 71);
    font-size: 15px;
}

.footer .footer-box .brand {
    color: white;
    font-size: 20px;
}

.footer .footer-box .brand span {
    color: #be9335;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #2c2c2c;
        padding: 10px 0;
    }

    .navbar a {
        padding: 10px 20px;
        border-bottom: 1px solid #444;
    }

    .hamburger {
        display: block; 
    }

    .navbar.active {
        display: flex; 
        max-height: 300px;
    }

    .header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54vh !important;
        background: url(img/header.png) no-repeat;
        background-size: contain;
        background-position: center 62px;
    }
    .header::before {
        content: ''; /* El pseudo-elemento necesita un contenido vacío */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2); /* Capa oscura encima de la imagen */
        z-index: 1; /* Coloca esta capa detrás del contenido */
    }

    .title{
        margin: 10px 0;
        font-size: 40px;
    }

    .sau{
        height: auto;
    }
    
    .coffee{
        padding: 30px;
    }

    .coffee-content h2{
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .coffee-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 5px;
    }

    .footer .footer-box .copyright {
        color: rgb(71, 71, 71);
        font-size: 15px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 15px;
    }
}

@media(max-width: 412px) {
    
    .header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22vh !important;
        background: url(img/header.png) no-repeat;
        background-size: contain;
        background-position: center 52px;
    }
    .header::before {
        content: ''; /* El pseudo-elemento necesita un contenido vacío */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2); /* Capa oscura encima de la imagen */
        z-index: 1; /* Coloca esta capa detrás del contenido */
    }
    
    .footer .footer-box {
        flex-direction: column;
    }

    .footer .footer-box .social-media a {
        color: white;
        background-color: #333333;
        border-radius: 50%;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        display: inline-block;
    }

    .footer .footer-box .copyright {
        color: rgb(71, 71, 71);
        font-size: 15px;
        margin-top: 10px;
    }

    .footer .footer-box .brand {
        color: white;
        font-size: 15px;
        margin-top: 10px;
    }
}
